---
layout: default
title: Home
---
<div class = "thumbnail-container">
    <img class="thumbnail-image" src="{{ site.thumbnail}}" width = "1000px">
    <div class = "thumbnail-text">
        {{ site.title }}
    </div>
</div>


<div class  = "project-index-container">
    <h1>Project</h1>

    <li class  = "project-index-item">
        {% assign i = 0 %}
        {% for project in site.projects reversed %}
            {%  if i >= 6%} 
                {% break %}
            {% endif %}

            {% assign i = i | plus:1 %}
            
        <div class = "postBox">
            {% include postBox.html %}
        </div>
        {% endfor %}
    </li>

    {% assign item  = site.data.navigation[2] %}
    <a class = "more" href="{{ item.link }}">More</a>

</div>

<div class  = "article-index-container">

    <h1>Articles</h1>
        <ul class  = "article-index-item">
            {% assign i = 0 %}
            {% for post in site.posts %}
                {%  if i >= 4%} 
                    {% break %}
                {% endif %}

                {% assign i = i | plus:1 %}
                <ul>
                    {% include articleTitle.html %}
                </ul>
            {% endfor %}
        </ul>
    {% assign item  = site.data.navigation[1] %}
    <a class = "more" href="{{ item.link }}">More</a>
</div>