<div class = "header-menu">

    <div class="header-menu-container">
        <div class="header-item-title">
            <a href="{{site.url}}/">
                {% if site.logo %}
                    <img class="logo" src="{{site.url}}/{{ site.logo }}"  alt="{{ site.title }}">
                {% endif %}  
            </a>
            <a href="{{site.url}}/" class="title"> 
                {{ site.title }}
            </a>
        </div>
        


        <div class="header-item-menu">
            
            {% for item in site.data.navigation %}
                <ul class="header-item"></ul>
                    <a class = "title" href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
                            {{ item.name }}
                    </a>
                </ul>
            {% endfor %} 
        
        </div>
    </div>
</div>