<div class="postBox-item">
    
    <div class="postBox-item-thumb">
        <a href="{{ site.baseurl }}{{ project.url }}">

            {% if project.thumbnail %}
                <img class="img-thumb" src="{{project.thumbnail}}" alt="{{ project.title }}">
            {% else %}
                <img class="img-thumb" src="{{site.thumbnail}}" alt="{{ project.title }}">
            {% endif %}
        </a>
    </div>


    <div class="postBox-item-body">
        <h2 class="postBox-item-title">
            <a  href="{{ site.baseurl }}{{ project.url }}">
                {{ project.title }}
            </a>
        </h2>
        <h4 class="card-text">
            {{ project.summary  }}
        </h4>
        <div class="post-date">
            {{ project.date | date_to_string }}
        </div>
    </div>

    
</div>