

.article-title-container{
    margin-top: 10px;
    background-color: #005666;
    padding: 10px;
    .article-title{
        font-size: 20px;
        color: white;
        
    }
    .article-title-date{
        font-size: 12px;
    }
}