

.article-title-container{
    margin-left: 10px;
    margin-top: 10px;
    background-color: royalblue;
    
    .article-title{
        font-size: 25px;
        background-color: saddlebrown;
    }
    .article-title-date{
        font-size: 15px;
        background-color: blueviolet;
    }
}