

.article-title-container{
    margin-top: 10px;
    background-color: #005666;
    
    .article-title{
        font-size: 25px;
        color: white;
        
    }
    .article-title-date{
        font-size: 15px;
    }
}