$neonPink: #ff6ec7;
$neonGreen: #39ff17;
$neonLightGreen: #06f984;
$neonOrange: #ff9937;
$neonBlue: #00ffff;
$neonDarkBlue: #009FFF;
$neonPurple: #cc00ff;
$neonBluePurple: #5832fd;
$neonRed: #FF0000;
$neonYellow: #FFFF30;

//https://blog.depositphotos.com/neon-color-palettes.html
$pascalPurple: #ad8cfc;
