%width_auto{ width: 1280px; margin: 0 auto; overflow: hidden;}
$main_color: #ff9400;
$sub_color: #ffc045;
$headerColor: #000000;
$headeHeight: 100px;

 //#: html에서 id로 가져올 때
 //.: html에서 class로 가져올 때
.header-menu{
	
	background: $headerColor; 
	vertical-align: middle;
	line-height: $headeHeight;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index :99999;

	.header-menu-container{
		@extend %width_auto;

		.header-item-title{
			display: inline-block;
			.logo{
				// float: left;
				height: $headeHeight;
				margin-top: auto;
				margin-bottom: auto;
				vertical-align: middle;
			}
		}

		.header-item-menu{
			float: right;
			vertical-align: middle;
			line-height: $headeHeight;

			.header-item{
				color: white;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
	.title{
		color: white;
		font-size: 30px;
	}
}