%width_auto{ width: 1000px; margin: 0 auto; overflow: hidden;}

.default{
  margin: 0 auto;
  background-color: rosybrown;
}

.body-container{
  @extend %width_auto;
}
.project-container{
  width: auto;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
.thumbnail-container{
  margin: 10px auto;
  position: relative;
}
.thumbnail-text{
  color: white;
  padding: 5px 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current {
    color: green;
  }