@import "titleFont";
.postBox-item {
    background-color: black;
    width: 100%;
    height: 100%;

    .postBox-item-thumb{
        background-color: #803232;
        width: 240px;
        height: 240px;

        display: block;
        margin-left: auto;
        margin-right: auto;

        .img-thumb {
            object-fit:cover;
            
            width: 100%;
            height: 100%;
            object-position:top;
        }
    }

    .postBox-item-body {
        margin-left: 10px;
        .postBox-item-title{
        }

        .card-text {
            margin-bottom: 0;
        }

        .post-date{
            text-align: right;
        }
    }
}