@import "colorList";

.post-title{
    margin-top: 10px;
    font-size: 30px;
    color: $neonPink;
}

.post-container{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    
    .post-head-data{
        font-size: 20px;
        color: $neonGreen;
        margin-left: 10px;
        margin-bottom: 100px;
    }   

    .post-content{

    }
}