.project-container{
    margin-top: $containerTopMargin;
    margin-left: $containerSideMargin;
    margin-right: $containerSideMargin;
    margin-bottom: $containerTopMargin+100px;

    .video-container{
        margin-top: 25px; 
        margin-bottom: 50px;

    }
    
}

