@import "colorList";

.mainTitle{
    font-size: 20px;
    color: $neonPink;   //neon pink
}
.subTitle{
    font-size: 16px;
    color: $neonOrange; //neon orange
}
.date{
    font-size:12px;
    color: $neonGreen; //neon green
}