---
layout: default
---
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class = "post-container"> 

  <div class = "post-title">
    <h1>
      {{ page.title }}
    </h1>
  </div>

  <div class = "post-head-data">
    <p>
      {{ page.date | date_to_string }}
      {% assign author = site.authors | where: 'short_name', page.author | first %}
      {% if author %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
      {% endif %}
    </p>
  </div>
  
  <div class = "post-content">
    {{ content }}
  </div>


</div>