---
layout: default
---
<div class = "post-container"> 

  <div class = "post-title">
    <h1>
      {{ page.title }}
    </h1>
  </div>

  
    <div class = "post-head-data">
      <p>
        {{page.summary}}
      </p>
      <p>
        {{ page.date | date_to_string }}
      </p>
    </div>



  <div class = "video-container">
    {% if page.youtubeID %}
      {% assign youtubeLink = "http://www.youtube.com/embed/" | append: page.youtubeID  %}
      <!-- <iframe width="560" height="315" src={{youtubeLink}} frameborder="0" allowfullscreen="allowfullscreen">unwantedtext</iframe> -->
      {% raw %}
      <iframe width="560" height="315" src="http://www.youtube.com/embed/1QceiWtrsD4" frameborder="0" allowfullscreen="allowfullscreen">unwantedtext</iframe>
      {% endraw %}
    {% endif  %} 
  </div>

  <div class = "markdown">
    {{ content }}


    <ul>
      {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
      {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>


    {% for category in site.categories %}
    {% if page.name == category[0] %}
      <h3>{{ category[0] }}</h3>
      <ul>
        {% for post in category[1] %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}

</div>
